<div class="container-fluid">
    <h1>Educación</h1>
    <h2> Formación Académica</h2>
    <div class="row">
         <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" id="logounmdp">
             <img src="../../../assets/logo unmdp.jpg"  class="img-fluid">
         </div>
        
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10" id="educacionunmdp">
            <span><p id="carrera">Licenciatura en Ciencias Matemáticas</p>
                  <p> Universidad Nacional de Mar del Plata</p>
                  <p> 2016-2022</p>
            </span>
        </div>
    </div>
    <div class="row">
         <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" id="logounmdp">
                <img src="../../../assets/logo unmdp.jpg"  class="img-fluid">
         </div>
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10" id="educacionunmdp">
            <span>
            <p id="carrera">Profesorado de Matemática</p> 
            <p> Universidad Nacional de Mar del Plata</p>
            <p> 2016-2022</p>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" id="logounmdp" >
            <img src="../../../assets/logo unmdp.jpg"  class="img-fluid">
        </div>
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10" id="educacionunmdp">
            <span>
            <p id="carrera"> Bachiller en la modalidad Economía y Gestión de las Organizaciones</p> 
            <p> Escuela de Educación Secundaria N°1 “D.F Sarmiento”</p>
            <p> 2010-2016</p>
            </span> 
        </div>
    </div>
</div>



