.row{background-color: #a1b5cb; text-align: center; box-shadow: 2px -2px 5px #999; justify-content: space-evenly;}
footer{color: #fefefe; font-size: 14px;
     display: flex ; flex-direction: column;  }