<div class="container-fluid">
  <h1>Hard & Soft Skills</h1>
    <div class="row">
      <div class="text-center col-sm-4 col-md-4 col-lg-4"> 
        <circle-progress
[percent]="85"
[radius]="90"
[outerStrokeWidth]="11"
[innerStrokeWidth]="8"
[outerStrokeColor]="'#8000FF'" 
[innerStrokeColor]="'#C7E596'"
[animation]="true"
[animationDuration]="1100"
[showTitle]="false"
[showUnits]="false"
[showSubtitle]="false"
[showImage]="true"
[imageSrc]="'/assets/descarga.png'"
[imageHeight]="90"
[imageWidth]="90"
></circle-progress>
      </div>
      
      <div class="text-center col-sm-4 col-md-4 col-lg-4"> 
    <circle-progress
    [percent]="85"
    [radius]="90"
    [showTitle]="false"
    [showSubtitle]="false"
    [showUnits]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [showImage]="true"
    [imageSrc]="'/assets/descarga.png'"
    [animationDuration]="300"
  ></circle-progress>
      </div>
      <div class="text-center col-sm-4 col-md-4 col-lg-4"> 
    <circle-progress
    [percent]="85"
    [radius]="90"
    [title]="'Octave'"
    [titleColor]="'black'"
    [showSubtitle]="false"
    [showUnits]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="300"
  ></circle-progress>
      </div>
      <div class="text-center col-sm-4 col-md-4 col-lg-4"> 
    <circle-progress
    [percent]="85"
    [radius]="90"
    [title]="'Inglés'"
    [titleColor]="'black'"
    [showSubtitle]="false"
    [showUnits]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="300"
  ></circle-progress>
      </div>
      <div class="text-center col-sm-4 col-md-4 col-lg-4"> 
    <circle-progress
    [percent]="85"
    [radius]="90"
    [title]="'Modelos matemáticos'"
    [titleColor]="'black'"
    [showSubtitle]="false"
    [showUnits]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="300"
  ></circle-progress>
      </div>
  
    </div>
</div>


