<div class="container-fluid">
<div class="row"> 
      <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">  
        <img src="../../../assets/foto.jpg" class="img-fluid" id="fotodeperfil">
      </div>
      <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <p id="nombre">Milagros Echeverria</p>
            <p>Full Stack Developer Jr</p>
      </div>
      
      <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <span><h1 id="acercademi">Acerca de mí</h1>
            <p>Soy Profesora y Licenciada en Ciencias Matemáticas. 
            Me apasiona la resolución de problemas y su aplicación en la vida cotidiana.
            Tengo sumo interés en la continua capacitación y gran predisposición frente a nuevas propuestas.</p> </span>
      </div>
</div>
</div>
     
     
     
     <!--  <div>     <img src="../../../assets/foto.jpg" id="fotoperfil" class="img-fluid">     </div>
      <div class="row"> 
        <div id="bajofoto">
        <div class="column left">
            <p id="nombre">Milagros Echeverria</p>
            <p id="desarrolladora">Full Stack Developer Jr</p>
         </div>
      
        <div class="column right">
            <span><h1 id="acercademi">Acerca de mí</h1>
            <p>Soy Profesora y Licenciada en Ciencias Matemáticas. Me apasiona la resolución de problemas y su aplicación en la vida cotidiana.
                Tengo sumo interés en la continua capacitación y gran predisposición frente a nuevas propuestas.</p> </span>
        </div>
      </div>
    </div>
    --> 


